// Цветовая палитра
@white: #fff;
@black: #2f2222;
@purple: #5d71dd;
@purple-hover: #6c7dd8;
@color-0: #000;
@background: #f9f9f9;
@bg-footer: #5d71dd0d;
@border: #2f22221a;
@color-coal: #2f222266;
@bg-input: #f5f5f5;
@box-shadow: #08186f33;
@span-bg: #f7f8fd;
@span-hover: #5d71dd26;
// Шрифты
@font1: "Futura", sans-serif;
//Начертание шрифта
@font_weight1: 400;
@font_weight2: 500;
@font_weight3: 700;
//Медиавыражения
@bw320: ~"(max-width: 319px)";
@w320: ~"(min-width: 320px)";
@bw400: ~"(max-width: 399px)";
@w400: ~"(min-width: 400px)";
@bw450: ~"(max-width: 449px)";
@w450: ~"(min-width: 450px)";
@bw500: ~"(max-width: 499px)";
@w500: ~"(min-width: 500px)";
@bw650: ~"(max-width: 649px)";
@w650: ~"(min-width: 650px)";
@bw600: ~"(max-width: 599px)";
@w600: ~"(min-width: 600px)";
@bw768: ~"(max-width: 767px)";
@w768: ~"(min-width: 768px)";
@bw1020: ~"(max-width: 1019px)";
@w1020: ~"(min-width: 1020px)";
@bw1170: ~"(max-width: 1169px)";
@w1170: ~"(min-width: 1170px)";
@bw1340: ~"(max-width: 1339px)";
@w1340: ~"(max-width: 1340px)";
@bw1660: ~"(max-width: 1659px)";
@w1660: ~"(min-width: 1660px)";
