.category-card1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 40px 50px;
    gap: 30px;
    border-radius: 20px;
    background-color: @white;
    transition: box-shadow 0.2s;
    cursor: pointer;
    
    &:hover {
        box-shadow: 4px 8px 40px 0 @box-shadow;
    }

    @media @bw768 {
        padding: 20px 15px 20px;
        min-height: 400px;
        gap: 10px;
    }
    &__link {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        text-decoration: none;
        transition: background 0.2s;
        cursor: pointer;
        &:hover {
            .category-card1__span {
                background: @hover;
            }
        }
    }
    &__item1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media @bw768 {
            gap: 8px;
        }
    }
    &__title {
        margin: 0;
    }
    &__time {
        margin-bottom: 10px;
        @media @bw768 {
            margin-bottom: 0;
        }
    }
    &__desc {
        margin: 0;
        padding-right: 40px;
        color: @color-coal;
        font-family: @font1;
        font-size: 18px;
        font-weight: @font_weight1;
        @media @bw768 {
            padding-right: 0;
        }
    }
}