.category-card4 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 180px;
    padding: 30px 40px;
    gap: 20px;
    border-radius: 20px;
    background-color: @white;
    transition: box-shadow 0.2s;
    cursor: pointer;
    @media @bw1340 {
        padding: 10px 40px;
    }
    @media @bw768 {
        min-height: 350px;
        padding: 20px 15px;
        gap: 80px;
    }
    &:hover {
        box-shadow: 4px 8px 40px 0 @box-shadow;
    }
    &:focus {
        border: 1.50px solid @purple;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        text-decoration: none;
        transition: background 0.2s;
        cursor: pointer;
        &:hover {
            .category-card4__btn {
                background: @hover;
            }
        }
    }
    &__title  {
        margin: 0;
    }
    &__time {
        margin-bottom: 10px;
        @media @bw768 {
            margin-bottom: 0;
        }
    }
}