.info {
    &__container {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 320px;
        width: 100%;
        max-width: 1480px;
        margin: 0 auto;
        padding: 40px 40px 100px;
        gap: 40px;
        @media @bw1340 {
            grid-template-columns: 1fr;
            padding: 40px 42px 75px;
            gap: 97px;
        }
        @media @bw768 {
            padding: 40px 0 85px;
            gap: 60px;
        }
    }
}