.news {
    &__container {
        box-sizing: border-box;
        width: 100%;
        max-width: 320px;
        @media @bw1340 {
            max-width: 100%;
        }

    }
    &__title {
        box-sizing: border-box;
        display: flex;
        margin: 0 0 17px;
        @media @bw768 {
            align-items: center;
            justify-content: center;
            margin: 0 auto 20px;
            font-size: 24px;
            align-items: center;
        }
    }
    &__card {
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid @border;
        &:nth-child(3) {
            border-bottom: none;
        }

        @media @bw1340 {
            border-bottom: none;
        }
        @media @bw768 {
            border-bottom: 1px solid @border;
        }
    }
    &__card-link{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            .news__card-title {
                color: @purple;
            }
        }
    }
    &__card-title {
        margin: 0;
        color: @black;
        font-family: @font1;
        font-size: 18px;
        font-weight: @font_weight1;
        line-height: 1.25;
        transition: color 0.2s;
        
        @media @bw1340 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
    &__card-time {
        margin: 10px 0 0;
        color: @color-coal;
        font-size: 18px;
        font-weight: @font_weight1;
    }
    &__box {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        @media @bw1340 {
            flex-direction: row;
            gap: 20px;
        }
        @media @bw768 {
            flex-direction: column;
            width: 100%;
            padding: 0 20px;
            gap: 0;
        }
    }
    &__box2 {
        margin-top: 28px;
        border-radius: 20px;
        background: @white;
        padding: 40px 30px 50px;
        transition: box-shadow 0.2s;
        @media @bw1340 {
            margin-top: 40px;
            padding: 47px 148px 31px;
        }
        @media @bw768 {
            padding: 47px 20px 45px;
        }

        &:hover {
            box-shadow: 4px 8px 40px 0 @box-shadow;
        }
    } 
}